@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-fixed-top .container, .container {
    width: 1080px;
    position: relative;
}

.serverIP {
    font-size: 16px;
}

a {
    color: #d58512;
    font-weight: 600;
}

/* General Content */

.allContent {
    margin-top: 75px;
    background: #222;
    padding: 2px 10px 10px 10px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;

    min-width: 80%;

    float: left;
    color: whitesmoke;
}

@font-face {
    font-family: "minecraft";
    src: url("/css/minecraft.ttf") format('truetype');
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}

body {
    background: #337ab7;
}

.back-arrow {
  position: relative;
  top: 1em;
}

// Server

.motd {
    font-family: minecraft;
    font-size: 18px;
    width: 100%;
}

.serverName {
    font-weight: bold;
    font-size: 16px;
}

.serverInfo {
    margin-right: auto;

    img {
        float: left;
        margin-left: 30px;
        margin-top: 15px;

        width: 100px;
    }

    table {
        width: 80%;
        margin-left: auto;
    }
}

.serverIcon {
    img {
        width: 64px;
        height: 64px;
        float: left;
    }
}

.online {
    color: green;
}

.offline {
    color: red;
}

.players {
    width: 20%;
}


// Player
.playerInfo {
    margin-right: auto;

    img {
        float: left;
        margin-left: 30px;
        margin-top: 15px;

        width: 100px;
    }

    table {
        width: 80%;
        margin-left: auto;
    }
}

.playerTable {
    margin: 0 auto;
}

.playerName {
    font-weight: bold;
    font-size: 16px;
}

.playerIcon {
    img {
        width: 64px;
        height: 64px;
        float: left;
    }
}

#search {
    width: 250px;
    position: absolute;
    float: right;
    margin-top: 22px;
    margin-bottom: 10px;
}

.pagination {
    padding: 0px;
}

.pagination>li>a, .pagination>li>span {
    padding: 6px 24px;
}

.dark-background {
    background-color: #222;
}

.dark-background:hover {
    background-color: #2d2d2d;
}

.dark-background-input {
    color: white;
    background-color: #222;
}

#search_icon {
    color: white;
}
